/*
* Axes, markers, ticks, carousel, image, and other brix styling
* required for San/Van.
*/


/* Images
================================================== */

svg g.brixImage
{
  margin: 0;
}

g.brixImage > rect.background
{
	fill: #fff;
	stroke-width: 0;
  stroke: #fff;
}

svg g.brixCaptionedImage>rect.background
{
  fill: #fff;
  stroke-width: 0;
  stroke: #fff;
}

svg g.brixImage>rect.highlight
{
	fill: none;
	fill-opacity:	0.0;
	stroke-opacity:	0.0;	
}

svg g.brixImage.lit>rect.highlight
{
	fill-opacity:	0.0;
	stroke:	blue;
	stroke-opacity:	0.8;	
}

svg g.brixCarousel>rect.background

{
	fill:	#f0f0f0;
}

svg g.brixCarousel>g.brixItem>rect.selection
{
	fill:			#fff;
	fill-opacity:	0.0;
	stroke:		#999;
  stroke-width: 1;
	stroke-opacity:	0.0;	
}

svg g.brixCarousel>g.brixItem.selected>rect.selection
{
	fill-opacity:	0.3;
	stroke-opacity:	1;	
}

svg g.brixImageViewer>rect,
svg g.brixLabelCarousel>rect 
{
	fill:	#f0f0f0;
	stroke-width:	1;
  stroke: #f0f0f0;
}

.brixImageCaption 
{
  font: 16px Helvetica;
  background: #fff;
  color: #4d4d4d;
  padding: 15px 0px;
  border: 0px solid #cbcbcb;

}

/* Markers
================================================== */
svg g.bricMarkers line
{
  fill:     none;
  stroke:   #e4e4e4;
  stroke-width: 2;
}

svg g.bricMarkers circle
{
  opacity: 0.5;
}

svg g.bricMarkers .lit line
{
  stroke:   #F05A24;
}

svg g.bricMarkers polygon,
svg g.bricMarkers rect,
svg g.bricMarkers circle
{
  fill:     #e4e4e4;
  stroke:   #e4e4e4;
}

svg g.bricMarkers .lit rect,
svg g.bricMarkers .lit circle
{
  fill:    #f4f4f4;
  stroke:  #F05A24;
  stroke-width: 2;
}

svg g.bricMarkers .lit polygon,
svg g.bricMarkers .lit circle
{
  fill:    #F05A24;
  stroke:  #F05A24;
  stroke-width: 2;
}

svg g.bricMarkers .markerLabel
{
  padding: 2px;
  text-align:right;
  color: 666;
  font: Helvetica 9pt;
  background-color: #f4f4f4;
  padding: 8px 8px;
}


/* Labels
================================================== */
svg g.brixLabel>circle
{
	fill:			#f0f0f0;
	stroke:		#c0c0c0;
	stroke-width:	1;
}
svg g.brixLabel.lit>circle
{
	fill:			#107aca;
	stroke:		#0d65a6;
}
svg g.brixLabel>text
{
	fill:			#4d4d4d;
  font: bold 16px Helvetica;
  margin: 20px;
}
svg g.brixLabel.lit>text
{
	fill:			#f4f4f4;
}

svg g.brixLabel .descLabel
{
  color: 4d4d4d;
  font: 14px Helvetica;
  border: 1px solid #c0c0c0;
  background-color: #f0f0f0;
  padding: 6px 8px 8px;

}

svg g.brixLabel .bullets
{
  padding: 6px 6px 8px 38px;
  min-height: 35px;
}

svg g.brixLabel.lit .descLabel
{
	color: #f4f4f4;
	background-color: #107aca;
  border: 1px solid #0d65A6;
}


/* Sliders
================================================== */

.bric-round-corner {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.bricSlider-container
{
  margin: 2px;
  padding: 8px;
  /*background-color: #fff;*/
  border-radius: 8px;
  display: inline-block;
  font: 16px Helvetica;
}

.bricSlider-container .readout
{
  margin-left: 10px;
  font-weight: bold;
}

.bricSlider-widget {
  /*background-color: ThreeDFace;*/
  overflow: hidden;
  margin-top: 18px;
  margin-bottom: 10px;
}

.bricSlider-thumb {
  position: absolute;
  background-color: ThreeDShadow;
  overflow: hidden;
}

.goog-slider-vertical .bricSlider-thumb {
  left: 0;
  height: 20px;
  width: 100%;
}

.goog-slider-horizontal .bricSlider-thumb {
    top: 0px;
    width: 20px;
    height: 20px;
    background-color: #3C434D;
    border: 0px solid black;
    border-radius:15px;
    /*box-shadow: 2px 2px 2px #888888;*/
}

.bricSlider-rail {
    border: 0px solid #cccccc;
    height: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #e4e4e4;
}

.goog-slider-disabled {
    background-color: lightgray
}

/* Radio groups
================================================== */
div.brixRadioGroup tr>td
{
  padding: 0;
}
div.brixRadioGroup table.questionTable, 
div.brixCheckGroup table.questionTable
{
  margin: 0 0 0 25px;
}


div.brixRadioGroup .choiceLabel, 
div.brixCheckGroup .choiceLabel 
{
  font-weight: bold;
  margin: 0 5px; 
}

div.brixRadioGroup table.questionTable tr>td:first-child,
div.brixCheckGroup table.questionTable tr>td:first-child
{
  text-align:   right;
  vertical-align:top;
  padding-top: 5px; 
}
div.brixRadioGroup table.questionTable tr>td:nth-of-type(2),
div.brixCheckGroup table.questionTable tr>td:nth-of-type(2)
{
  padding-left: 8px;
}
   
div.brixRadioGroup table.questionTable input[type=radio],
div.brixCheckGroup table.questionTable input[type=checkbox]
{
    border: 0px;
    width: 20px;
    height: 20px;
}

/* Question blocks
================================================== */

div.widgetnumericquestion,
div.brixMultipleChoiceQuestion 
{
 
  border: 1px solid #fff;
  padding: 10px 0;
  margin-bottom: 10px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: default; 
}

div.brixMultipleChoiceQuestion fieldset 
{
  display: inline-block;
  border: 0;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
}

div.brixMultipleChoiceQuestion fieldset legend 
{
  line-height: 40px;
  color: #4d4d4d;
  font: 20px Helvetica;
  margin-bottom: 5px; 
}

div.brixMultipleChoiceQuestion label 
{
  font: 16px Helvetica;
  color: #4d4d4d;
  line-height: 30px;
}

div.brixMultipleChoiceQuestion .choiceLabel 
{
  font: bold 16px Helvetica;
  color: #4d4d4d;
  margin: 0 5px; 
}

div.brixMultipleChoiceQuestion .submit
{
  float: left;
}

div.brixMultipleChoiceQuestion span.attempts 
{
  margin-top: 5px;
  display: inline-block;
}

div.brixMultipleChoiceQuestion span.attempts span.count
{
  font: bold 33px/28px Helvetica;
  color: #686868;
  margin-left: 16px;
  margin-right: 5px;
  float: left;
}

div.brixMultipleChoiceQuestion span.attempts span.descr
{
  font: 13px/14px Helvetica;
  color: #686868;
  margin-left: 6px;
  display: inline-block;
  width: 80px;
}

div.brixMultipleChoiceQuestion .submit button:disabled
{
  border-color: #e0e0e0;
  background: #e0e0e0;
  text-shadow: none;
  cursor: default;
  color: #686868;  
}

.brixButton button
{
    background: -webkit-gradient(linear, 0 100%, 0 0, from(#368fd2), to(#107aca));
    background: -webkit-linear-gradient(#368fd2 0%, #107aca 100%);
    background: -moz-linear-gradient(#368fd2 0%, #107aca 100%);
    background: -o-linear-gradient(#368fd2 0%, #107aca 100%);
    background: linear-gradient(#368fd2 0%, #107aca 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #0D65A6;
    border-radius: 3px;
    box-shadow: none;
    font-size: 13px;
    line-height: 28px;
    padding: 0 24px;
    text-shadow: 0 1px 0 #0C64A5;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    
}

.brixButton button:hover,
.brixButton button:focus {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#107aca), to(#368fd2));
    background: -webkit-linear-gradient(#107aca 0%, #368fd2 100%);
    background: -moz-linear-gradient(#107aca 0%, #368fd2 100%);
    background: -o-linear-gradient(#107aca 0%, #368fd2 100%);
    background: linear-gradient(#107aca 0%, #368fd2 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.brixButton button:active,
.brixButton button.active {
    background: -webkit-gradient(linear, 0 100%, 0 0, from(#c0c0c0), to(#d6d6d6));
    background: -webkit-linear-gradient(#c0c0c0 0%, #d6d6d6 100%);
    background: -moz-linear-gradient(#c0c0c0 0%, #d6d6d6 100%);
    background: -o-linear-gradient(#c0c0c0 0%, #d6d6d6 100%);
    background: linear-gradient(#0D65A6 0%, #0E6CB3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #c0c0c0;
    text-shadow: #e0e0e0;


}

.brixMultipleChoiceQuestion .feedback
{
  padding: 20px;
  font: bold 18px Helvetica;
  color: #4d4d4d;
  bottom: 20px;
  left: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: bottom 0.3s;
  -webkit-transition: bottom 0.3s;
  transition: bottom 0.3s; 
}

.brixMultipleChoiceQuestion .feedback .custom-feedback
{
  font: 16px Helvetica;
}

.brixMultipleChoiceQuestion .feedback .feedback-correctAfterWrong
{
  background-color: #fff;
  border: 1px solid #c7e5fc;
  padding: 20px;
}

.brixMultipleChoiceQuestion .feedback .feedback-correct,
.brixMultipleChoiceQuestion .feedback .feedback-incorrect,
.brixMultipleChoiceQuestion .feedback .feedback-partial
{
  background-color: #f0f7fc;
  border: 1px solid #c7e5fc;
  padding: 20px;
}

.brixMultipleChoiceQuestion i
{
  font-size: 24px;
  margin-right: 4px;
  margin-top: -3px;
}

.brixMultipleChoiceQuestion div.feedback i
{
  float: left;
  margin-right: 15px;
  margin-top: 0;
}
/*
 *  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("fonts//font-awesome.min.css");
  src: url("fonts//font-awesome.min.css") format("embedded-opentype"), url("fonts//fontawesome-webfont.woff?v=3.0.1") format("woff"), url("fonts//fontawesome-webfont.ttf?v=3.0.1") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"],
[class*=" icon-"] 
{
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
 }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none; }

.icon-ok-sign:before 
{
  content: "\f058"; 
  color: #00a05e;
}

.icon-check:before 
{
  content: "\f00c"; 
  color: #00a05e;
}

.icon-wrong:before 
{
  content: "\f057";
  color: #dc3535; 
}

.icon-adjust:before 
{
  content: "\f057";
  color: #dc3535; 
}


/* tables of callouts/data
================================================== */
table.widgetCallout {
  border-collapse: collapse;
  border-spacing: 0; 
  border: 2px solid #f4f4f4;
  width: auto; 
  font: 14px Helvetica;
  margin-bottom: 15px;
  }

table.widgetCallout td {
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 15px;
  padding-left: 15px; 
  }

table.widgetCallout thead>tr td {
  border-bottom: 2px solid #f4f4f4;
  padding-bottom: 3px;
  font-weight: bold; 
  text-align: left;}
  

table tr.widgetCallout.lit 
{
	color:#1d456e;
	border-left: 4px solid #107aca;
	background-color: #f4f4f4;
}

/* used in callout automatic step numbering */

.stepBadge {
     /* background: radial-gradient( 5px -9px, circle, white 8%, black 26px ); 
    background-color: black;
    border: 2px solid white;
    border-radius: 14px; /* one half of ( (border * 2) + height + padding ) 
    
 Got this from stack overflow, it's pretty close 
    color: white;
    font: 0.9em/1.3em Helvetica, Verdana, Tahoma;
    height: 16px; 
    min-width: 16px;
    padding: 4px 3px 2px 3px;
  	margin: 4px 11px 3px 0px;
    text-align: center;
	display: block;
	float: left;*/

  font: bold 13px Helvetica;
  color: #000;
  padding: 5px 20px 5px 8px; 
}




 
/* sketches
================================================== */

svg g.widgetSketch .shape {
	
	stroke: #666;
	stroke-width: 2;
}

svg g.widgetSketch .shape.hot {
	opacity: 0.0;
}

svg g.widgetSketch .shape.lit {
	fill: #107aca;
	stroke: #1d95ae;
	stroke-width:3;
	opacity: 0.5;
}

svg g.widgetSketch .shape>text {
	fill: #333;
	stroke: none;
	font: bold italic 1.3em Times, serif;
  
}

/* Math and questions
================================================== */
.math {
  font: bold italic 1em Times, serif;
  border: 0;
  font-size: 125%;
  padding: 0;
}
.math sup {
	font-size: 80%;
}


/* title and captions and feedback messages
================================================== */
.graphTitle {
  font-size: 17px;
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
  padding-bottom: 5px; }

.msgbox {
  background-color: #d0eaea;
  border: solid #008496;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 4em;
  max-width: 30em;
  padding: .5em; }

#message_0 {
  font: .8em/1.5em;
  color: #003; }

.caption {
  font: bold 0.6em/0.9em;
  color: #000;
  padding: 0em 0.2em; }


	
/* Axes
================================================== */
g.brix .axis path,
g.brix .axis line,
g.brix .axis circle {
  fill: none;
  stroke: #bbbbbb; 
  shapeRendering: crisp-edges;
  stroke-width: 1;
}

g.brix .axis text {
  font: 14px Helvetica;
  color: #008496; 
}

.areaMarker {
  fill: #2C6CB8;
  opacity: .3; }

.axisLabel {
  font: 14px Helvetica;
  color: #000;
  word-wrap: break-word;
  text-align: center; 
}

.graphLabel {
  font: .85em/1.1em;
  word-wrap: break-word;
  position: static;
  text-align: left;
  background-color: transparent;
  padding: .2em;
  margin: .2em; }



/* LineGraph and legends highlights and styles
================================================== */

svg g.widgetLineGraph .traces,
svg g.widgetLegend .traces 
{
  opacity:		0.8;
  fill: none;
  stroke-width: 3; 
}

svg g.widgetLineGraph .traces.lit,
svg g.widgetLineGraph .traces.selected,    
svg g.widgetLegend .lit .traces
{
	opacity:		1;
	stroke-width:	5;
}

svg g.widgetLegend .legendLabel {
  font: 0.9em/1.1em HelveticaNeue-Light,HelveticaNeue,Helvetica, Arial, Lucida Grande, sans-serif;
  color: #000; 
  text-align: left;
  padding: 2px;
}

svg g.widgetLegend .lit>text
{
	font-weight: bold;
}

svg g.widgetLegend .legendBox {
  fill: #fff;
  stroke: #3A87AD;
  stroke-width: 1px;
}

svg g .stroke0 {
  stroke: #107aca;
   }

svg g .stroke1 {
  stroke: #b00216; }

svg g .stroke2 {
  stroke: #fabc4a; }

svg g .stroke3 {
  stroke: #f25757; }

svg g .stroke4 {
  stroke: #19bac2; }

svg g .stroke5 {
  stroke: #cc76cc; }

svg g .stroke6 {
  stroke: #96b5e0; }

svg g .stroke7 {
  stroke: #ff7747; }

svg g .stroke8 {
  stroke: #2ea0d9; }

svg g .stroke9 {
  stroke: #d19469; }

svg g .stroke10 {
  stroke: #339999; }

svg g .stroke11 {
  stroke: #8063c7; }
  
/* bars, pie wedges and points
================================================== */
svg g.brixBarChart .bar,
svg g.widgetLegend rect,
svg g.bricPieChart path {
  opacity: 0.8; 
  }

svg g.brixBarChart .lit .bar,
svg g.widgetLegend .lit rect,
svg g.bricPieChart path .lit  {
  opacity: 1;
  stroke-width: 1;
  stroke: #999;
  }


svg g .fill0 {
  fill: #107aca;
  }

svg g .fill1 {
   fill: #b00216; }

svg g .fill2 {
  fill: #fabc4a; }

svg g .fill3 {
  fill: #f25757; }

svg g .fill4 {
  fill: #19bac2; }

svg g .fill5 {
  fill: #cc76cc; }

svg g .fill6 {
  fill: #96b5e0; }

svg g .fill7 {
  fill: #ff7747; }

svg g .fill8 {
  fill: #2ea0d9; }

svg g .fill9 {
  fill: #d19469; }

svg g .fill10 {
  fill: #339999; }

svg g .fill11 {
  fill: #8063c7; }

svg g .fillWhite {
  fill: #fff;
}

svg g .fillBlack {
  fill: #000;
}

svg g .fillNone {
  fill: none;
}

/* readouts
================================================== */


.dataLabel {
  font-weight: bold;
  margin-left: 3px; 
  }
  
.dataLabel.green {
    background: green;
    color: #fff;
    border: 1px solid #004d00;
    padding: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
  .dataLabel.short {
    margin-right: 10px; }

.dataInput {
  border: solid 1px #5BAFE4;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: .2em;
  margin: .1em;
  font-size: 0.8em;
  text-align:right;
}
